{% extends 'base.html.twig' %} 
{% block title %}
    <title>
        Login
    </title>
{% endblock %} 


{% block content %}
<div class="row">
    <div class="mx-auto col-md-6">
        <h1>Connexion</h1>
        {% if error %}
        <p>{{error.message}}</p>
        {% endif %}
        <form action="{{path('login')}}" method="post">

            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" name="_username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" value="{{lastEmail}}">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" name="_password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            {#
            <input type="hidden" name="_target_path" value="{{path('add_cat')}}"> #}
            <button type="submit" class="btn btn-info" id="btn-login">Login</button>
        </form>
    </div>
</div>


{% endblock %}
